<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sales App</title>
    <link href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        html, body {
            overflow-x: hidden;
        }
        body {
            background-color: #17212b;
            color: white;
            margin-left: 5px;  /* Левый отступ */
            margin-right: 5px; /* Правый отступ */
        }
    </style>
    {% load static %}
    <link rel="manifest" href="/static/manifest.json">
    <script>
        if ('serviceWorker' in navigator) {
            // Проверяем, есть ли уже зарегистрированный Service Worker
            navigator.serviceWorker.getRegistration('/static/js/service-worker.js')
                .then((registration) => {
                    if (registration) {
                        console.log('Service Worker уже зарегистрирован:', registration);
                    } else {
                        // Если Service Worker не зарегистрирован, регистрируем его
                        navigator.serviceWorker.register('/static/js/service-worker.js')
                            .then((registration) => {
                                console.log('Service Worker зарегистрирован:', registration);
                            })
                            .catch((error) => {
                                console.log('Ошибка регистрации Service Worker:', error);
                            });
                    }
                })
                .catch((error) => {
                    console.log('Ошибка при проверке регистрации Service Worker:', error);
                });
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7ie5k5njyGdA2I=" crossorigin="anonymous"></script>

</head>
<body>


{% block content %}
{% endblock %}
<script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script>

window.addEventListener('load', () => {
    let tg = window.Telegram.WebApp;

    // Показать кнопку "Назад"
    tg.BackButton.show();

    // Обработчик нажатия на кнопку "Назад"
    tg.BackButton.onClick(() => {
        console.log('Кнопка "Назад" нажата');

        // Проверка, находится ли пользователь на начальной странице
        if (['/promokodi', '/catalog'].includes(window.location.pathname)) {  // Сравниваем только путь
            tg.close();  // Закрыть приложение, если это начальная страница
        } else {
            window.history.back();  // Вернуться на предыдущую страницу в рамках приложения
        }
    });
});
    
    document.addEventListener('DOMContentLoaded', function () {
        const searchForm = document.querySelector('.search-form');
        const searchFormOffset = searchForm.offsetTop;

        window.addEventListener('scroll', function () {
            if (window.scrollY > searchFormOffset) {
                searchForm.classList.add('sticky');
            } else {
                searchForm.classList.remove('sticky');
            }
        });
    });
</script>

</body>
</html>
